*{ 
    margin: 0;
    padding: 0;
}

.font-open-sans{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  
}
.logo h2 {
    font-size: 45px;
    font-weight: 900;

}
.r-orrenge {
    color: #FD6E0A;
}

header {
    background-color: #FFF8F3;
    padding-top: 51px;
    background: url("../images/developer.png"), url("../images/header_bg.png"),#FFF8F3;
    background-position: 23px 38px, bottom right;
    background-repeat: no-repeat;
}
nav {
    width: 71%;
    max-width: 1140px;
    /* border: 2px solid red; */
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.btn {
    background-color: #FD6E0A;
    border: none;
    padding: 18px 35px;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
    color: white;
    cursor: pointer;
}
.section-heading{
    max-width: 1127px;
    text-align: center;
    margin: 0 auto;

}
.section-heading h2{
    font-size: 35px;
    font-weight: bold;
    margin-bottom: 30px;


}
.section-heading p{
    font-size: 18px;
    margin-bottom: 30px;
    line-height: 30px;
    color: #757575;

}


.menu {
    display: flex;
    gap: 51px;
    list-style: none;
    align-items: center;


}
nav .menu a {
    color: #474747;
    font-size: 20px;
    text-decoration: none;

}
#bannar {
    /* border: 2px solid red; */
    margin:47px 38px 0px 230px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#bannar .bannar-content{
    max-width: 585px;

}
#bannar .bannar-content h2 {
    font-size: 45px;
    font-weight: 600;
    color: #474747;
    margin-bottom: 5px;


}
#bannar .bannar-content h1 {
    font-size: 45px;
    font-weight: bold;
    color: #474747;
    margin-bottom: 20px;

}
#bannar .bannar-content p {
    font-size: 18px;
    color: #757575;
    line-height: 30px;
    margin-bottom: 30px;


}#bannar .bannar-image {
    max-width: 585px;
  vertical-align: bottom;
}

#about{
    padding-top: 130px;
}


#about .about-container{
            width: 71%;
            max-width: 1140px;
            margin: 0 auto;
            text-align: center;
            background-color: #FFF8F3;
            padding: 131px 156px;

}
#about .about-container .about-info {
    display: flex;
    justify-content: space-around;

}
.about-info .info-card p{
    font-size: 20px;
    line-height: 30px;
    color: #757575;

}
.about-info .info-card h4{
    font-size: 20px;
    
}
.work {
    padding-top: 130px;

     
}
.work .work-container {
            width: 71%;
            max-width: 1140px;
            margin: 0 auto;
}
.work .work-container .work-info {
    display: flex;
    gap: 24px;
   

}
.work .work-container .work-card {
    background-color: #FFFFFF;
    max-width: 267px;
    border-radius: 5px;
    padding: 30px;
    box-shadow: 0 6px 50px 0#00000077;
}
.work-card img {
    max-width: 44px;
    margin-bottom: 30px;

}
.work-card h4 {
    font-size: 20px;
    color: #181818;
    margin-bottom: 20px;

}

.work-card p {
    font-size: 16px;
    color: #757575;
    line-height: 28px;
    /* margin-bottom: 30px; */

}
#resume {
   padding-top: 130px;
}
.resume-containar hr{
margin: 30px 0;
}
#resume .resume-containar {
    width: 71%;
    max-width: 1140px;
    margin: 113px auto 0;
    display: flex;
    gap: 24px;

}
.resume-containar .education-title {
    color: #474747;
    font-size: 30px;
    margin-bottom: 30px;

}
.card {
    max-width: 511px;
    margin-right: 47px;
    /* background-color: #FD6E0A; */

}
.card .title {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #474747;
}
.card .h-title {
    font-size: 20px;
    font-weight: 600px;
    color: #757575;
    margin-bottom: 20px;


}
.card .p-title {
    font-size: 16px;
    font-weight:normal;
    color: #757575;
    line-height: 28px;

}

.button{
    text-align: center;
}
#massage {
    margin-top: 113px;
    background-color: #FFF8F3;
    width: 1600px;
    padding: 130px 0;


}
.footer {
    display: flex;
    width: 71%;
    max-width: 1140px;
    margin: 0 auto;
    gap: 116px;


}
.footer .foote {
    max-width: 562px;

}
.footer h2{
    font-size: 35px;
    color:#181818;
    margin-bottom: 20px;

}
.footer .foote p {
    color: #474747;
    line-height: 28px;
    font-size: 16px;
    margin-bottom: 30px;
}
.footer .img a {
    margin-right: 24px;

}
.footer form input,.footer form textarea {
    width: 461px;
    padding: 18px 31px;
    margin-bottom: 24px;
    border: none;
    border-radius: 5px;
    color: #757575;
}

